.code-container{
    display: flex;
    align-items: start;
    margin: 1rem;
    padding: .5rem 1rem;
    width: max-content;
    max-width: 80%;
    border-width: thin;
    border-color: var(--code-border);
    border-style: solid;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px var(--nav-shadow);
}

.copy-button {
    display: block;
}

@media only screen and (max-width:500px) {
    .code-container {
        display: block;
    }

    .copy-button {
        display: none;
    }
}