/* roboto font import */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


  :root{
    --backgroundColor: aliceblue;
    --backgroundColor-secondary: rgb(226, 230, 235);
    --textColor: #283041;
    --nav-backdround: #f0f8fff2;
    --nav-border: #1e1e1e28;
    --nav-shadow: rgb(195 188 188 / 12%);
    --button-shadow: rgba(213, 211, 211, 0.441);
    --nav-links: rgba(224, 221, 221, 0.441);
    --notice-background:#eafbf6;
    --notice-shadow: rgba(33, 33, 33, 0.637);
    --code-shadow: rgb(39 30 30 / 11%);
    --code-border: #0606060f;
    /* --nav-shadow: #1e1e1e3b */
}
[theme='dark']{
    --backgroundColor: #23272fff;
    --backgroundColor-secondary: rgb(28, 31, 37);
    --textColor: aliceblue;
    --nav-backdround: rgba(35, 39, 47, 0.973);
    --nav-border: rgba(192, 192, 192, 0.651);
    --nav-shadow: #adadad00;
    --button-shadow: #adadad28;
    --nav-links: #5f5e5e28;
    --notice-background: #21353aff;
    --notice-shadow: rgb(47 46 46 / 25%);
    --code-shadow: rgb(91 85 85 / 2%);
    --code-border: #ffffff0f;
    /* --nav-shadow: #1e1e1e3b */
}

html,body{
    margin:0;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}


/** fix blue box on elements **/

input,textarea,button,select,a {
    -webkit-tap-highlight-color: transparent;
}

/** fixes hover situation */

@media (hover: hover) {

}

@media (hover: hover) {
    
}